.app {
	border: 1px solid black;
	display: flex;
	margin: auto;
	padding-left: 200px;
	padding-right: 200px;
}

h5 {
	color: blue;
}

/* notebooks */
.notebooks {
	background-color: #f1ebed;
}
/* notes */
.notes {
	background-color: #e1f2ec;
}
/* main */
.main {
	display: flex;
	flex-direction: column;
}
.active {
	border: 1px solid black;
	background-color: red;
}
