.body {
	background-color: #555871;
	height: 1500px;
}
.app {
	position: relative;
	top: 100px;
	border: 1px solid black;
	background-color: white;
	width: 1200px;
	margin: auto;

	height: 750px;
}
.section {
	padding: 20px;
}
button {
	padding: 0px;
}

/*app_header*/
.app_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1200px;
	margin: auto;
	height: 69px;
	border-bottom: 2px solid #edebf7;
}
.appName {
	width: 226px;
	text-align: center;
	padding-top: 20px;
}
.appName img {
	padding-right: 5px;
}
.logoText {
	font-size: 20px;
	font-weight: 900;
	font-family: "montserra", sans-serif;
	color: #555871;
}
.search {
	width: 748px;
	border-left: 2px solid #edebf7;
	padding: 20px;
	color: #b5b4d0;
}
.search img {
	margin-right: 10px;
}
.user {
	align-content: center;
	text-align: center;
	width: 226px;
	color: #747b8a;
}
.user img {
	padding-right: 10px;
}

.content {
	display: flex;

	width: 1200px;
	height: 680px;
}

.heading {
	font-size: 20px;
}

/* notebooks */
.notebooks {
	width: 226px;
	color: #9a9c9f;
	overflow: scroll;
}
.notebook:hover {
	cursor: pointer;
	color: #535353;
}
.activeNotebook {
	color: #8962ff;
	font-weight: bold;
}
.addNotebook {
	opacity: 0.5;
}
.trash {
	opacity: 0.5;
	width: 20px;
}
.header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.notebook {
	padding-bottom: 20px;
}
/* notes */
.notes {
	background-color: #f8f7fe;
	width: 324px;
	border-left: 2px solid #edebf7;
	border-right: 2px solid #edebf7;
	overflow: scroll;
}
.note_header {
	padding: 20px 20px 0px 20px;
	display: flex;
	justify-content: space-between;
}
.note_header button {
	background-color: #f8f7fe;
	border: none;
}
button.addNewNote {
	padding: 0px;
}
button.addNewNote img {
	opacity: 0.5;
}
.noteDate {
	color: grey;
	font-size: 10px;
}
.previewBody {
	margin: 0px;
	color: #959595;
}
.previewTitle {
	margin: 0px;
	font-weight: bold;
}

.note {
	border-bottom: 2px solid #edebf7;
	padding: 20px;
}
.note:hover {
	cursor: pointer;
}
.activeNote {
	background-color: white;
}
.note_trash {
	opacity: 0.5;
	width: 20px;
}
/* main */
.main {
	display: flex;
	flex-direction: column;
	width: 650px;
	overflow: scroll;
}

.editPart {
	display: flex;
	flex-direction: column;
}
button {
	border: 1px solid white;
	background-color: white;
	color: grey;
	margin: 10px;
	height: 25px;
}

.markdown-box {
	white-space: pre-wrap;

	padding: 10px;
	border-radius: 5px;
}
.markdown-box code {
	background-color: #393939;
	padding: 2px 4px;
	border-radius: 4px;
	font-family: "Courier New", Courier, monospace;
	color: rgb(181, 247, 209);
}
.markdown-box pre {
	background-color: #2a2a2a;
	padding: 10px;
	border-radius: 5px;
	overflow: auto;
	color: white;
}
#noteBox {
	height: 500px;
}
.editTitle {
	font-size: 25px;
	border: none;
	font-weight: 500;
}
.editTextarea {
	border: none;
}
.mainButtons {
	display: flex;
	justify-content: center;
}
.mainButtons button {
	color: rgb(160, 57, 173);

	opacity: 0.5;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
}
.updatedDate {
	font-size: 12px;
	color: #9e9d9d;
	vertical-align: bottom;
	margin-top: 10px;
	margin-bottom: 0px;
}
input:focus {
	outline: none;
}
textarea:focus {
	outline: none;
}
input,
textarea {
	color: #393939;
}
.doneTitle {
	font-size: 27px;
}
