.app {
	border: 1px solid black;
	display: flex;
	margin: auto;
	padding-left: 200px;
	padding-right: 200px;
	height: 800px;
}
.header {
	text-align: center;
}
h5 {
	color: blue;
}
.heading {
	font-size: 20px;
}
.section {
	padding: 10px;
}
/* notebooks */
.notebooks {
	background-color: #f1ebed;
}
/* notes */
.notes {
	background-color: #e1f2ec;
	width: 200px;
}
/* main */
.main {
	display: flex;
	flex-direction: column;
}
.active {
	border: 2px solid #f1b4c9;
	border-radius: 5px;
}
.editPart {
	display: flex;
	flex-direction: column;
}
button {
	border: 1px solid white;
	background-color: none;
	color: grey;
}

.markdown-box {
	white-space: pre-wrap;

	padding: 10px;
	border-radius: 5px;
}
.markdown-box code {
	background-color: #565656; /* Change to your desired background color */
	padding: 2px 4px;
	border-radius: 4px;
	font-family: "Courier New", Courier, monospace;
	color: rgb(181, 247, 209);
}
.markdown-box pre {
	background-color: #2a2a2a; /* Change to your desired background color */
	padding: 10px;
	border-radius: 5px;
	overflow: auto;
	color: white;
}
#noteBox {
	height: 500px;
}
